@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');
body {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(https://media.tenor.com/wixX1zls4zMAAAAj/%E5%B4%A9%E5%A3%9E-%E6%98%9F%E7%A9%B9%E9%90%B5%E9%81%93.gif);
    background-attachment: fixed;
    background-size: 400px;
    background-position: center center;
  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
h1{
    color: rgb(137, 142, 129);
    margin-right: 20px; 
    background-color: rgba(255, 255, 255, 0.865);
}
.slideshow {
  width: 500px;      /* 可調整大小 */
  height: 300px;
  position: relative;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;      /* 初始隱藏 */
}
.test{
    font-family: "BBH Sans Bartle", sans-serif;
}
li{
    background-color: rgba(255, 255, 255, 0.801);
    font-size: 40px;
    list-style-position: inside;  /* 加這一行 */
    padding-left: 20px;            /* 或加 padding 調整距離 */
}